<body  style="background-color:rgb(112, 250, 135);"></body>
  <h1 style="text-align: center;">Expense tracker</h1>
  <p style="text-align: center;">Login!</p>
  <div class="input-group mb-3", style="text-align: center;">
    <span class="input-group-text" id="basic-addon1">Username</span>
    <input type="text" class="form-control" placeholder="E.g. QuintenKruges54" aria-label="username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3", style="text-align: center;">
    <span class="input-group-text" id="basic-addon1">Password</span>
    <input type="text" class="form-control" placeholder="E.g. Big Bananas" aria-label="password" aria-describedby="basic-addon1">
  </div>
  <a href="/"><p style="text-align: center;">Enter</a>
  <a href="/"><p style="text-align: center;">Forgot Password</a>
  <a href="/"><p style="text-align: center;">Sign Up</a>