{% extends "layout.html" %}

{% block title %}View Total - Expense Tracker{% endblock %}

{% block content %}
  <!-- Contact HTML Goes Here -->

<head>
    <title>View Total</title>
</head>
<body>
  <div class="container mt-5">
    <h1>Total Expenses</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Expense</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for row in exp %}
            <tr>
                <td>{{ row['expense'] }}</td>
                <td>${{ row['cost'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
    <h2>Total Cost: ${{ total_cost }}</h2>
</body>
{% endblock %}

